<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>responseDeserializer</key>
	<string>RNFJSONResponseDeserializer</string>
	<key>operations</key>
	<array>
		<dict>
			<key>name</key>
			<string>getAnswersWithCompletionBlock:</string>
			<key>URL</key>
			<string>questions?pagesize=5&amp;order=desc&amp;sort=activity&amp;site=stackoverflow</string>
		</dict>
		<dict>
			<key>dataDeserializer</key>
			<dict>
				<key>transforms</key>
				<dict/>
				<key>mappings</key>
				<dict>
					<key>name</key>
					<string>name</string>
					<key>uid</key>
					<string>ID</string>
				</dict>
				<key>targetClass</key>
				<string>TestModel</string>
			</dict>
			<key>operationClass</key>
			<string>AFHTTPRequestOperation</string>
			<key>name</key>
			<string>getAnswersWithMaxResults:completionBlock:</string>
			<key>URL</key>
			<string>questions?pagesize=2&amp;order=desc&amp;sort=activity&amp;site=stackoverflow</string>
		</dict>
	</array>
	<key>baseURL</key>
	<string>https://api.stackexchange.com/2.2</string>
</dict>
</plist>
